@model PersonDTO


<h1>Witaj uzytkowniku: </h1>
<p>Imie: @Model.Name</p> <br />
<p>Nazwisko: @Model.Surname</p> <br />
<p>
    @Html.DisplayNameFor(x => x.Age): @Html.DisplayFor(x => x.Age)
</p>

@Html.ActionLink("Edytuj dane", "EditPerson", "People", new { person = Model}, FormMethod.Post);